<div class="landing-background">
<!--   <div class="logo">
    <i class="fas fa-bicycle"></i> RayoTrips <i class="fas fa-bicycle"></i>
  </div> -->
  <div class="social-icons">
    <a href="https://www.instagram.com"><i class="fab fa-instagram social-icon"></i></a>
    <a href="https://www.facebook.com"><i class="fab fa-facebook social-icon"></i></a>
    <a href="https://www.linkedin.com/in/pichonmatthieu/"><i class="fab fa-linkedin social-icon"></i></a>
  </div>
  <div class="container banner">
<!--     <h1>Des voyages d’exception en itinérance à vélo !</h1>
    <p class="sous-titre">Avec <i class="highlighted">RayoTrips</i>, alliez bien-être et (re)découverte des terroirs français le temps d'un séjour guidé dans nos plus belles régions.</p> -->
<!--     <br>
    <br>
    <br> -->
    <div class="container launch-phase">
      <p>Nous sommes en phase de lancement. Si vous êtes intéressé par notre projet, laissez-nous votre adresse email et nous vous tiendrons informé dès qu'il y aura du nouveau !</p>
      <a href="" class="btn btn-contact" data-toggle="modal" data-target="#modalSubscriptionForm">Tenez-moi informé !</a>
    </div>

    <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notify modal-warning" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title white-text w-100 font-weight-bold py-2">Donnez-nous votre email pour être les premiers au courant de nos avancées !</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>
          <%= simple_form_for @contact do |f| %>
            <div class="contact-form">
              <%= f.input :email %>
              <%= f.input :nom, required: false %>
              <%= f.input :prenom, required: false %>
              <%= f.input :message, required: false, label: "Vous avez un message pour nous ? N'hésitez pas !" %>
              <%= f.submit "Tenez-moi informé !", class: "btn btn-contact" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="rayo-infos">
    <div class="rayo-infos-head">
      <h1>Où <span class="red">?</span></h1>
      <h1><i class="fas fa-globe-europe"></i></h1>
    </div>
    <p>En France, dans nos plus belles régions, sur des chemins / pistes cyclables / voie vertes que nous sélectionnons avec soin. Dépaysement bucolique, paysages et patrimoine d’exception au rendez-vous !</p>
  </div>

  <div class="rayo-infos">
    <div class="rayo-infos-head">
      <h1>Quand <span class="red">?</span></h1>
      <h1><i class="fas fa-sun"></i></h1>
    </div>
    <p>Entre Avril et Octobre, quand le soleil montre le bout de son nez ! Durée : de 3-4 jours à une semaine. Des formats plus courts seront proposés (notamment pour les comités d’entreprises) </p>
  </div>

  <div class="rayo-infos">
    <div class="rayo-infos-head">
      <h1>Avec qui <span class="red">?</span></h1>
      <h1><i class="fas fa-users"></i></h1>
    </div>
    <p>En groupe (6/12 personnes), accompagné d’un guide (compatible familles). Le guide montrera le chemin, saura parler de la région et de son histoire et assistera en cas de pépin technique</p>
  </div>

  <div class="rayo-infos">
    <div class="rayo-infos-head">
      <h1>Quelles activités <span class="red">?</span></h1>
      <h1><i class="fas fa-eye"></i></h1>
    </div>
    <p>Au programme : bien-être, patrimoine, nature, gastronomie, histoire et culture. Nous choisirons avec le plus grand soin (et goût) des lieux et intervenants d’exception pour rendre le voyage inoubliable</p>
  </div>

  <div class="rayo-infos">
    <div class="rayo-infos-head">
      <h1>Pour quel niveau <span class="red">?</span></h1>
      <h1><i class="fas fa-heartbeat"></i></h1>
    </div>
    <p>Les voyages seront accessibles à tous avec 40 à 60 km de vélo par jour en moyenne (3/4h maximum) avec des pauses. Des VAE (assistance électrique) seront en option</p>
  </div>
</div>
